body {
    background: #e9f5f9;
    background-image: url(../img/patrick-bateman-smile.gif);
    /* background-size */

}

.title1{
    color: black;
    font-weight: bold;
    font-size: 60px;
}

.subtitle1{
    color: gray;
    font-size: 20px;
    margin-bottom: 40px;
}

#paragraaf{
    color: gray;
    font-size: 30px;
    margin-top: 20px;
}